<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Đặt lại mật khẩu</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-container">
      {% for category, message in messages %}
      <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="otp-container">
      <h2>Đặt lại mật khẩu</h2>
      <p>Nhập mật khẩu mới cho tài khoản của bạn</p>

      <form method="POST">
        <input
          type="password"
          name="password"
          placeholder="Mật khẩu mới"
          required
        />
        <button type="submit" class="verify-btn">Lưu mật khẩu</button>
      </form>

      <a href="{{ url_for('auth_bp.auth') }}" class="back-link"
        >← Quay lại đăng nhập</a
      >
    </div>
  </body>
</html>
